
.me{
	display: grid;
	grid-template-columns: 3fr 9fr;
	grid-gap: 10px;
}
.me img{
	width: 100%;
}
.posts{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}
.posts img{
	width: 40px;
	margin: 5px;
}
.post{
	margin: 20px 0;
}
