.navbar{
	grid-area: n;
		background: rgb(70, 79, 121);
		text-align: center;
}
.navbar a{
	display: block;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: white
}
.navbar a:hover{
	background-color: #fff9
}
.friend img{
	width: 90%;
	height: 50px;
}
.friend{
	display: inline-block;
	width: 30%;
	cursor: pointer;
	padding: 2px;
}
.friends a{
	font-size: 20px;
}
.friend:hover{
	background: rgb(140, 155, 233)
}
